*/**/bin
*/**/obj
*/**/.vs
*/**/Library
/Unity3D/TerminalEmulator/Assets/Plug-in
/Unity3D/TerminalEmulator/Assets/TextMesh Pro
/Unity3D/TerminalEmulator/Assets/TutorialInfo
/Unity3D/TerminalEmulator/Caches/NuGet
/Unity3D/TerminalEmulator/Logs
/Unity3D/TerminalEmulator/Packages/packages-lock.json
/Unity3D/TerminalEmulator/Recordings
/Unity3D/TerminalEmulator/Temp
/Unity3D/TerminalEmulator/UserSettings
/Unity3D/TerminalEmulator/.vsconfig
